// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.line{
  width:640px;
  overflow:hidden;
  position:relative;
}
.square{
  background-color:rgb(224, 197, 157);
  width:40px;
  height:40px;
  float:left;
  color:black;
  border:1.5px solid rgb(183, 185, 205);
}
.line8_8,.line8_9,.line9_8,.line9_9{
  background-color:black;
  border:1.5px solid black;
}
.line1_5,.line1_10,.line16_5,.line16_12{
  border-right:5px solid black;
}

.line2_16,.line5_1,.line11_1,.line11_16{
  border-bottom:5px solid black;
}

.robots {
  position: absolute;
  width:36px;
  height:36px;
  border-radius:18px;
  margin:  2px 2px;
}

.red{
  background-color: red;
}
.blue{
  background-color: rgb(64, 116, 246);
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;

}
.purple{
  background-color: rgb(246, 12, 223);

}

.random_color{
  height:40px;
  width:40px;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top:308px;
  left:308px;
  padding: 2px 0 0px 0.5px;
}

.top_left{
  height:40px;
  width:40px;
  border-left:5px solid black;
  border-top:5px solid black;
  position: absolute;
  padding: 2px 0 0px 0.5px;

}

.top_right{
  height:40px;
  width:40px;
  border-right:5px solid black;
  border-top:5px solid black;
  position: absolute;
  padding: 2px 0 0px 0.5px;
}

.bottom_left{
  height:40px;
  width:40px;
  border-left:5px solid black;
  border-bottom:5px solid black;
  // text-align: center;
  // font-size: 25px;
  position: absolute;
  padding: 2px 0 0px 0.5px;
}

.bottom_right{
  height:40px;
  width:40px;
  border-right:5px solid black;
  border-bottom:5px solid black;
  position: absolute;
  padding: 2px 0 0px 0.5px;
}
.fin{
  background-color: yellow;
  color: red;
  font-size: 40px;
  position: absolute;
  left:50%;
  top:85%;
}
.button_{
  width:200px;
  height:60px;
  float:left;
  margin:20px;
  margin-left:50px;

}
.button_up{
  margin-top:10px;
  overflow:hidden;
}
.button_down{
  overflow:hidden;
}


@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .fin{
    -webkit-writing-mode: vertical-rl;
     -ms-writing-mode: tb-rl;
         writing-mode: vertical-rl;
    left:680px;
    top:350px;
  }
  .button_items{
   overflow:hidden;
   position: absolute;
   top:40px;
   left:650px;
  }

}
