// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square-range{
  width: 40px;
  height:40px;
}
.container--move{
  margin: 10px;
  width: 230px;
  background:#fff;
  padding:10px;
  text-align:center;
  position:relative;
  top:-250px;
  left:650px;

}

.line{
  //background-color:rgb(224, 197, 157);
  width:640px;
  overflow:hidden;
  position:relative;
}
.panel{
  position: relative;
  width: 40px;
  height:40px;
  float:left;
}
.robots {
  border-radius:16px;
  margin:  4px 4px;
  width:30px;
  height:30px;
  border: 0.5px solid #ddd;
}

.square{
  background-color:rgb(224, 197, 157);
  width: 39px;
  height:39px;
  position: absolute;
  z-index: 3;
  border:0.5px solid rgb(183, 185, 205);
}
.square_top{
  width:40px;
  height:40px;
  float: left;
  position:absolute;
  z-index: 4;
}

.line8_8,.line8_9,.line9_8,.line9_9{
  background-color:black;
  border:1.5px solid black;
  width:37px;
  height:37px;
}
.line1_5,.line1_10,.line16_5,.line16_12{
  border-right:5px solid black;
  width:35px;
}

.line4_16,.line5_1,.line11_1,.line10_16{
  border-bottom:5px solid black;
  height:35px;
}


.random_color{
  height:40px;
  width:40px;
  font-size: 25px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top:308px;
  left:308px;
  padding: 2px 0 0px 0.5px;
  z-index:100;
}

.top_left{
  height:35px;
  width:35px;
  border-left:5px solid black;
  border-top:5px solid black;
  line-height: 40px;
  text-align: center;
}

.top_right{
  height:35px;
  width:35px;
  border-right:5px solid black;
  border-top:5px solid black;
  line-height: 40px;
  text-align: center;
}

.bottom_left{
  height:35px;
  width:35px;
  border-left:5px solid black;
  border-bottom:5px solid black;
  text-align: center;
  line-height: 40px;

}

.bottom_right{
  height:35px;
  width:35px;
  border-right:5px solid black;
  border-bottom:5px solid black;
  text-align: center;
  line-height: 40px;
}


.button--large{
  width:250px;
  height:60px;
  margin:0 0 30px 10px;
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .fin{
    -webkit-writing-mode: vertical-rl;
     -ms-writing-mode: tb-rl;
         writing-mode: vertical-rl;
    left:680px;
    top:350px;
  }
  .button-items{
   overflow:hidden;
   position: absolute;
   top:40px;
   left:650px;
  }
  .trouble{
    overflow:hidden;
    position: absolute;
    top:610px;
    left:670px;
    color: gray;
    background-color: rgb(165, 241, 118);
  }
}
